
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {

    --white: hsl(0, 100%, 100%);
    --purple_100: hsl(275, 100%, 97%);
    --purple_600: hsl(292, 16%, 49%);
    --purple_950: hsl(292, 42%, 14%);

}

body {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    height: 100%;

}

.page-container {
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: var(--purple_100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;


}

.faq-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 15px;
    padding: 0 30px 30px 30px;
}

.header-section {
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}


h2 {
    font-size: 16px;
    font-weight: 600;
}

.qa-section {
    padding: 15px 0 15px 0;
}

.qa-section + .qa-section {
    border-top: 1px solid var(--purple_100);
}

.question {
    display: flex;
    justify-content: space-between;
}

p {
    font-weight: 500;
    color: var(--purple_600);
    font-size: 14px;
}

.hidden {
    display: none;
}

