
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {

    /*width: 100%;*/
    /*height: 100%;*/

    --white: hsl(0, 100%, 100%);
    --purple_100: hsl(275, 100%, 97%);
    --purple_600: hsl(292, 16%, 49%);
    --purple_950: hsl(292, 42%, 14%);
    --violet_600: hsl(281, 83%, 54%);

}

body {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    height: 100%;

}

.page-container {
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: var(--purple_100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;


}

.faq-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 15px;
    padding: 0 30px 30px 30px;
}

.header-section {
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--purple_950);
}



.qa-section {
    padding: 15px 0 15px 0;
}

.qa-section + .qa-section {
    border-top: 1px solid var(--purple_100);
}

.question {
    display: flex;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.question:hover h2 {
    color: var(--violet_600);
}

h2 {
    font-size: 16px;
    font-weight: 600;
    flex-shrink: 1;
    color: var(--purple_950);
}

.plus-collapsed {
    display: flex;
    flex-shrink: 0;
}

.answer {
    font-weight: 500;
    color: var(--purple_600);
    font-size: 14px;
    display: none;
}

.answer.visible {
    display: block;
}

/*.hidden {*/
/*    display: none;*/
/*}*/




@media (max-width: 1100px) {
    .faq-container {
        width: 75%;
    }

    .page-container {
        background-image: url('assets/images/background-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
    }
}

